{% extends '::base.html.twig' %}

{% set titleTeam = 'all teams' %}
{% set titleCat = 'all leagues' %}
{% set titlePlayer = 'all players' %}
{% set customTitle = false %}

{% if  categorySlug is not constant("AppBundle\\Controller\\MainController::CATEGORY") %}
    {% set titleCat = categoryName %}
    {% set customTitle = true %}
{% endif %}

{% if  teamSlug is not constant("AppBundle\\Controller\\MainController::TEAM") %}
    {% set titleTeam = teamName %}
    {% set customTitle = true %}
{% endif %}

{% if  playerSlug is not constant("AppBundle\\Controller\\MainController::PLAYER") %}
    {% set titlePlayer = playerName ~ playerLastName %}
    {% set customTitle = true %}
{% endif %}

{%- block title -%}
    {%- if customTitle == true -%}
    Latest {{ titleCat }} videos featuring {{ titleTeam }} and {{ titlePlayer }}
{%- else -%}
    {{- parent() -}}
{%- endif -%}

{% endblock %}

    {% block body %}

        <div id="outerHeader">

            <div id="header">

                {#<div class="inner">#}

                    {# code for responsive#}

                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <figure>
                                    <a class="logo" href="{{ path("homepage") }}"></a>
                                </figure>
                            </div>


                            <div id="navbar" class="navbar-collapse collapse">
                                <div id="nav" class="nav dd-menu hidden-xs">
                                    <ul class="cf">

                                    {# date search#}
                                    <li>
                                        {% if dateSlug != constant("AppBundle\\Controller\\MainController::DATE") %}
                                            <a class="item name-selected pull-left" href="#">{{ dateSlugView }}</a>
                                            <a class="selected pull-right" href="{{ path('homepage', { 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most}) }}">&nbsp;</a>
                                        {% else %}
                                            <a class="item" href="#">Dates</a>
                                        {% endif %}

                                        <div class="dropdown hide cf calendar-dropdown row">
                                            <em class="arrow"></em>

                                            <div id="calendar-date" class="calendar-date col-sm-6 col-md-5" ></div>
                                            <input id="currentPath" type="hidden" value="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most}) }}">
                                            <div class="col-sm-6 col-md-7">
                                                <div class="last-dates">
                                                    <a href="{{ path('homepage', {'dateSlug': lastWeekDates, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most}) }}" class="{{ lastWeekDates == dateSlug ? 'selected' : '' }}">Last Week</a>
                                                    <a href="{{ path('homepage', {'dateSlug': lastMonthDates, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most}) }}" class="{{ lastMonthDates == dateSlug ? 'selected' : '' }}">Last Month</a>
                                                </div>
                                                <div class="calendar-year">
                                                    <div id="calendar-year-top" class="top">
                                                        {% for month in currentYearMonths %}
                                                            <a href="{{ path('homepage', {'dateSlug': month.slug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug,'most': most}) }}" class="{{ month.slug == dateSlug ? 'selected' : '' }}">{{ month.label }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    {# end date search #}

                                    {# start category search #}
                                    <li>
                                        {% if categorySlug != constant("AppBundle\\Controller\\MainController::CATEGORY") %}
                                            <a class="item name-selected pull-left" href="#">{{ categoryName }}</a>
                                            <a class="selected pull-right" href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': constant("AppBundle\\Controller\\MainController::CATEGORY"), 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most }) }}">&nbsp;</a>
                                        {% else %}
                                            <a class="item" href="#">Leagues</a>
                                        {% endif %}

                                        <div class="dropdown hide league-dropdown league-two">
                                            <em class="arrow"></em>
                                            {% for category in categories %}
                                                <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug':  category.slug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most}) }}" class="{{ category.slug == categorySlug ? 'selected' : '' }}" data-id="">{{ category.name|raw }}</a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    {# end category search#}

                                    {# start team search #}
                                    <li>
                                        {% if teamSlug != constant("AppBundle\\Controller\\MainController::TEAM") %}
                                            <a class="item name-selected pull-left" href="#">{{ teamName }}</a>
                                            <a class="selected pull-right" href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': constant("AppBundle\\Controller\\MainController::TEAM"), 'playerSlug': playerSlug, 'most': most }) }}">&nbsp;</a>
                                        {% else %}
                                            <a class="item" href="#">Teams</a>
                                        {% endif %}
                                        <div class="dropdown left hide team-dropdown">
                                            <em class="arrow"></em>

                                            <div class="row">
                                                <div class="search-input col-sm-12">
                                                    <input class="team-search-input" type="text" placeholder="Search by teams...">
                                                </div>
                                            </div>

                                            <div class="cf">
                                                <div class="team-group">
                                                    <h3>Club Teams</h3>
                                                    <ul class="cf split-list">

                                                        {% for team in teams %}
                                                            {% if team is iterable %}
                                                                {% if team[0] is not null %}
                                                                    <li>
                                                                        <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': team[0].slug, 'playerSlug': playerSlug, 'most': most}) }}">{{ team[0].name }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% else %}
                                                                <li >
                                                                    <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': team.slug, 'playerSlug': playerSlug, 'most': most}) }}">{{ team.name }}</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {# end team search #}

                                    {# start player search #}
                                    <li>

                                        {% if playerSlug != constant("AppBundle\\Controller\\MainController::PLAYER") %}
                                            {% if playerLastName is not empty %}
                                                <a class="item name-selected pull-left" href="#">{{ playerName|slice(0, 1)|raw }}. {{ playerLastName }}</a>
                                                <a class="selected pull-right" href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': constant("AppBundle\\Controller\\MainController::PLAYER"), 'most' : most }) }}">&nbsp;</a>
                                            {% else %}
                                                <a class="item name-selected pull-left" href="#">{{ playerName }}</a>
                                                <a class="selected pull-right" href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': constant("AppBundle\\Controller\\MainController::PLAYER"), 'most' : most }) }}">&nbsp;</a>
                                            {% endif %}
                                        {% else %}
                                            <a class="item" href="#">Players</a>
                                        {% endif %}


                                        <div class="dropdown left hide player-dropdown">
                                            <em class="arrow"></em>

                                            <div class="row">
                                                <div class="search-input col-sm-12">
                                                    <input class="player-search-input" type="text" placeholder="Search by players...">
                                                </div>
                                            </div>

                                            <h3>Players</h3>
                                            <ul class="players cf split-list">
                                                {% for player in players %}
                                                    <li>
                                                        <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': player[0].slug, 'most' : most}) }}">

                                                            {% if player[0].lastName is not empty and player[0].lastName != " " %}
                                                                {{ player[0].firstName|slice(0, 1)|raw }}.  {{ player[0].lastName|raw }}
                                                            {% else %}
                                                                {{ player[0].firstName|raw }}
                                                            {% endif %}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    {# end player search #}

                                    {# start most popular search #}
                                    <li>

                                        {% if most != constant("AppBundle\\Controller\\MainController::MOST") %}
                                            {% if mostName is not empty %}
                                                <a class="item name-selected pull-left" href="#">{{ mostName }}</a>
                                                <a class="selected pull-right" href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug }) }}">&nbsp;</a>
                                            {% else %}
                                                <a class="item name-selected pull-left" href="#">{{ playerName }}</a>
                                                <a class="selected pull-right" href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most': most}) }}">&nbsp;</a>

                                            {% endif %}
                                        {% else %}
                                            <a class="item" href="#">Newest</a>
                                        {% endif %}

                                        <div class="dropdown hide filter-dropdown">
                                            <em class="arrow"></em>

                                            <ul class="players cf">
                                                <li>
                                                    <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most' : constant("AppBundle\\Controller\\MainController::MOST_POPULAR")}) }}">Most Popular</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug, 'most' : constant("AppBundle\\Controller\\MainController::TOP_POST")}) }}">Best Moments</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                    {# end most popular search #}
                                </ul>
                                </div>
                                <div class="header-top cf">
                                    <ul class="nav navbar-nav navbar-right top-menu">
                                        <li>
                                            <a href="{{ path('page', {'page': 'business'}) }}">Business</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('page', {'page': 'privacy-terms'}) }}">Privacy & Terms</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('page', {'page': 'about'}) }}">About</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('page', {'page': 'contact-us'}) }}">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>

                <input id="leagueId" type="hidden" value="{{ categoryId }}">
                <input id="categorySlug" type="hidden" value="{{ categorySlug }}">
                <input id="teamId" type="hidden" value="{{ teamId }}">
                <input id="teamSlug" type="hidden" value="{{ teamSlug }}">
                <input id="playerId" type="hidden" value="{{ playerId }}">
                <input id="playerSlug" type="hidden" value="{{ playerSlug }}">
                <input id="date" type="hidden" value="{{ dateSlug }}">
                <input id="most" type="hidden" value="{{ most }}">
            </div>

        </div>

        <div class="visible-xs" id="mobile-menu" style="visibility: hidden;">
            <accordion class="dark">
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Browse all matches <i class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': status.open, 'glyphicon-triangle-right': !status.open}"></i>
                    </accordion-heading>

                    <accordion close-others="oneAtATime">
                        <accordion-group class="mobile-calendar" is-open="statusDate.open">
                            <accordion-heading>
                                <div>
                                    Dates {% if dateSlugView != 'All Time' %} | {{ dateSlugView }} {% endif %} <span class="pull-right">| <i class="glyphicon" ng-class="{'glyphicon-chevron-down': statusDate.open, 'glyphicon-chevron-right': !statusDate.open}"></i></span>
                                </div>
                            </accordion-heading>
                            <div>
                                <div class="ng-date-picker" data-ng-model="dt.value" data-ng-init="setValue('{{ dateSlug }}')">
                                    <datepicker show-weeks="false"></datepicker>
                                </div>
                                <input id="currentPath" type="hidden" value="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug}) }}">
                                <div class="col-sm-6 col-md-7">
                                    <div class="last-dates">
                                        <a href="{{ path('homepage', {'dateSlug': lastWeekDates, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug}) }}" class="{{ lastWeekDates == dateSlug ? 'selected' : '' }}">Last Week</a>
                                        <a href="{{ path('homepage', {'dateSlug': lastMonthDates, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug}) }}" class="{{ lastMonthDates == dateSlug ? 'selected' : '' }}">Last Month</a>
                                    </div>
                                    <div class="calendar-year">
                                        <div id="calendar-year-top" class="top">
                                            {% for month in currentYearMonths %}
                                                <a href="{{ path('homepage', {'dateSlug': month.slug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': playerSlug}) }}" class="{{ month.slug == dateSlug ? 'selected' : '' }}">{{ month.label }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="statusLeague.open">
                            <accordion-heading>
                                <div>
                                    Leagues {% if categoryName is defined and categoryName != ''  %} | {{ categoryName }} {% endif %}
                                    <span class="pull-right">|
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': statusLeague.open, 'glyphicon-chevron-right': !statusLeague.open}"></i>
                                    </span>
                                </div>
                            </accordion-heading>
                                <div>
                                    {% for category in categories %}
                                        <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug':  category.slug, 'teamSlug': teamSlug, 'playerSlug': playerSlug}) }}" class="{{ category.slug == categorySlug ? 'selected' : '' }}" data-id="">{{ category.name|raw }}</a>
                                    {% endfor %}
                                </div>
                        </accordion-group>
                        <accordion-group is-open="statusTeam.open">
                            <accordion-heading>
                                <div>
                                    Teams {% if teamName is defined and teamName != '' %} | {{ teamName }} {% endif %}
                                    <span class="pull-right">|
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': statusTeam.open, 'glyphicon-chevron-right': !statusTeam.open}"></i>
                                    </span>
                                </div>
                            </accordion-heading>
                            <div>
                                <div class="row">
                                    <div class="search-input col-sm-12">
                                        <input class="team-search-input" type="text" placeholder="Search by teams...">
                                    </div>
                                </div>

                                <div class="cf scroll">
                                    <div class="team-group">
                                        <ul class="cf split-list row">

                                            {% for team in teams %}
                                                {% if team is iterable %}
                                                    {% if team[0] is not null %}
                                                        <li class="col-sm-6 col-md-3">
                                                            <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': team[0].slug, 'playerSlug': playerSlug}) }}">{{ team[0].name }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% else %}
                                                    <li class="col-sm-6 col-md-3">
                                                        <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': team.slug, 'playerSlug': playerSlug}) }}">{{ team.name }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="statusPlayer.open">
                            <accordion-heading>
                                <div>
                                    Players {% if playerName is defined and playerName != '' %}
                                    {% if playerLastName is not empty %} | {{ playerName|slice(0, 1)|raw }}. {{ playerLastName }}
                                    {% else %} | {{ playerName }}{% endif %} {% endif %}
                                    <span class="pull-right">|
                                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': statusPlayer.open, 'glyphicon-chevron-right': !statusPlayer.open}"></i>
                                    </span>
                                </div>
                            </accordion-heading>
                            <div>

                                <div class="row">
                                    <div class="search-input col-sm-12">
                                        <input class="player-search-input" type="text" placeholder="Search by players...">
                                    </div>
                                </div>

                                <ul class="players cf split-list row scroll">
                                    {% for player in players %}
                                        <li class="col-sm-6 col-md-3">
                                            <a href="{{ path('homepage', {'dateSlug': dateSlug, 'categorySlug': categorySlug, 'teamSlug': teamSlug, 'playerSlug': player[0].slug}) }}">
                                                {% if player[0].lastName is not empty %}
                                                    {{ player[0].firstName|slice(0, 1)|raw }}.  {{ player[0].lastName|raw }}
                                                {% else %}
                                                    {{ player[0].firstName|raw }}
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </accordion-group>
                    </accordion>

                    <a class="reset-button" href="{{ path('homepage') }}">Reset</a>

                </accordion-group>
            </accordion>
        </div>

        <div id="mobileHeader"></div>

        {% block content %}{% endblock %}


    {% endblock %}