{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container" id="main-container">
        <div id="content">
            <ul class="social social-icons hidden-xs">
                <li>
                    <a href="https://www.facebook.com/heilrj" target="_blank" class="facebook"></a>
                </li>

                <li>
                    <a href="https://twitter.com/HeilRJ" target="_blank" class="twitter"></a>
                </li>

                <li>
                    <a href=" https://plus.google.com/+HeilRJ03" target="_blank" class="google"></a>
                </li>

                <li>
                    <a href=" https://www.youtube.com/user/HeilRJ03" target="_blank" class="youtube"></a>
                </li>
            </ul>
            <div id="items-list" class="items-list">
                {#<div class="item-sizer"></div>#}
                <div class="row">
                    <div class="search-error" align="center">
                        {% if dateSlugView != 'All Time' %}
                            No results found for a game on the selected date
                        {% else %}
                            No results found for a game in which {{ playerName }} {{ playerLastName }} scored a goal
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
