{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div id="content">
            <div class="page cf">
                <div class="game-content">
                    <div class="game-data">
                        <h3>{{ page.name }}</h3>
                        {{ page.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}