{% extends 'AppBundle::layout.html.twig' %}

{% set url = app.request.scheme ~ '://www.' ~ app.request.getHttpHost ~ app.request.getRequestUri %}

{% block title %}{{ page.title }}{% endblock %}
{% block metaDescription %}{{ page.metaDesc }}{% endblock %}
{% block metaKeywords %}{{ page.metaKw }}{% endblock %}

{% block ogTitle %}{{ page.showTitle }}{% endblock %}
{% block ogDescription %}{{ page.metaDesc }}{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost() }}{{ page.getSocialPhotoDownloadLink }}{% endblock %}

{% block twitterTitle %}{{ page.showTitle }}{% endblock %}
{% block twitterDescription %}{{ page.metaDesc }}{% endblock %}
{% block twitterImage %}{{ app.request.getSchemeAndHttpHost() }}{{ page.getSocialPhotoDownloadLink }}{% endblock %}

{% block content %}
    <div class="container" id="details-container">
        <div id="content">
        <div class="page cf row">
            <div class="game-content col-sm-12 col-md-9">
                <div class="video">
                    {% if (page.video) %}
                        <iframe  width="100%" height="100%" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
                    {% else %}
                        {{ page.videoPlayWire |raw }}
                    {% endif %}
                </div>
                <div class="info-block">
                    <h1> {{ page.showTitle }}</h1>
                    <div class="info">
                        <ul>
                            <li>
                                <i class="glyphicon glyphicon-time"></i>
                                {{ page.videoDuration }}
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-eye-open"></i>
                                {{ page.views }}
                            </li>
                            <li>
                                <i class="glyphicon glyphicon-calendar"></i>
                                {{ page.postDate|date('d.m.Y') }}
                            </li>
                        </ul>
                    </div>
                    <ul class="social-icons clearfix">
                        <li>
                            <a href="javascript:void(0)" class="facebook"
                                   fb-share
                                   fb-name="{{ page.showTitle }} | {{ page.postDate|date('d.m.Y') }}"
                                   fb-link="{{ url }}"
                                   fb-picture="{{ app.request.getSchemeAndHttpHost() }}{{ page.getSocialPhotoDownloadLink }}"
                                   fb-description="{{ page.metaDesc }}"
                                   fb-capton="{{ app.request.getSchemeAndHttpHost() }}">
                            </a>
                            {#<a href="#" class="facebook"></a>#}
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               google-share-alt
                               class="google"
                               url="{{ url }}">
                            </a>
                            {#<a href="#" class="google"></a>#}
                        </li>
                        <li>
                            <a target=”_blank”
                               class="twitter"
                               href="https://twitter.com/intent/tweet?url={{ url }}&amp;text={{ page.showTitle }}&amp;”">
                            </a>
                            {#<a href="#" class="twitter"></a>#}
                        </li>

                    </ul>
                </div>

                <div class="google-ad-scene row">
                    <div class="col-sm-12">

                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- under_video_responsive -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5858038123995936"
                             data-ad-slot="9670142370" data-ad-format="auto"></ins>
                        <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
                    </div>
                </div>

                <div class="game-data">
                    <div class="row">

                    <div class="col-sm-12 col-md-6">

                        {% if lineupPlayers %}
                            <h2>{{ page.getTeamHome.name }} Lineups</h2>

                            <div class="teams cf">
                                {% set team = lineupPlayers[homeTeamId] %}

                                    <div class="team">
                                        {% for player in team %}
                                            <div class="player cf">
                                                <ul class="clearfix">
                                                    <li class="no">
                                                        <span>{{ player.number }}</span>
                                                    </li>
                                                    <li class="name">
                                                        <a href="{{ path('homepage', {'playerSlug': player.slug }) }}">{{ player.name }}</a>
                                                    </li>
                                                    <li class="action">
                                                        <span class="clearfix">
                                                        {% for event, minutes in player.events %}
                                                            {% for minute in minutes %}
                                                                {% if event == 5 %}
                                                                    <em class="substituted-out">{{ minute }}</em>
                                                                {% elseif event == 1 %}
                                                                    {% if minute is iterable %}
                                                                        <em class="goal-own">{{ minute.own }}</em>
                                                                    {% else %}
                                                                        <em class="goal">{{ minute }}</em>
                                                                    {% endif %}
                                                                {% elseif event == 2 %}
                                                                    <em class="card-yellow">{{ minute }}</em>
                                                                {% elseif event == 3 %}
                                                                    <em class="card-red">{{ minute }}</em>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        {% endif %}

                        <div class="substitutes">

                            {% if  substitutePlayers %}

                                <h2>Substitutes</h2>

                                <div class="teams cf">
                                    {% set team = substitutePlayers[homeTeamId] %}
                                        <div class="team">
                                            {% for player in team %}
                                                <div class="player cf">
                                                    <ul class="clearfix">
                                                        <li class="no">
                                                            <span>{{ player.number }}</span>
                                                        </li>
                                                        <li class="name">
                                                            <a href="{{ path('homepage', {'playerSlug': player.slug }) }}">{{ player.name }}</a>
                                                        </li>
                                                        <li class="action">
                                                            <span class="clearfix">
                                                                <em class="substituted-in">{{ player.substituted }}</em>

                                                            {% for event, minutes in player.events %}
                                                                {% for minute in minutes %}
                                                                    {% if event == 5 %}
                                                                        <em class="substituted-out">{{ minute }}</em>
                                                                        {% elseif event == 1 %}
                                                                            {% if minute is iterable %}
                                                                                <em class="goal-own">{{ minute.own }}</em>
                                                                            {% else %}
                                                                                <em class="goal">{{ minute }}</em>
                                                                            {% endif %}
                                                                    {% elseif event == 2 %}
                                                                        <em class="card-yellow">{{ minute }}</em>
                                                                    {% elseif event == 3 %}
                                                                        <em class="card-red">{{ minute }}</em>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    </div>
                                            {% endfor %}
                                        </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">

                        {% if lineupPlayers %}

                            <h2>{{ page.getTeamGuest.name }} Lineups</h2>

                            <div class="teams cf">
                                {% set team =  lineupPlayers[guestTeamId] %}

                                    <div class="team">
                                        {% for player in team %}
                                            <div class="player cf">
                                                <ul class="clearfix">
                                                    <li class="no">
                                                        <span>{{ player.number }}</span>
                                                    </li>
                                                    <li class="name">
                                                        <a href="{{ path('homepage', {'playerSlug': player.slug }) }}">{{ player.name }}</a>
                                                    </li>
                                                    <li class="action">
                                                        <span class="clearfix">
                                                        {% for event, minutes in player.events %}
                                                            {% for minute in minutes %}
                                                                {% if event == 5 %}
                                                                    <em class="substituted-out">{{ minute }}</em>
                                                                {% elseif event == 1 %}
                                                                    {% if minute is iterable %}
                                                                        <em class="goal-own">{{ minute.own }}</em>
                                                                    {% else %}
                                                                        <em class="goal">{{ minute }}</em>
                                                                    {% endif %}
                                                                {% elseif event == 2 %}
                                                                    <em class="card-yellow">{{ minute }}</em>
                                                                {% elseif event == 3 %}
                                                                    <em class="card-red">{{ minute }}</em>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        {% endif %}

                        <div class="substitutes">

                            {% if  substitutePlayers %}

                                <h2>Substitutes</h2>

                                <div class="teams cf">
                                    {% set team = substitutePlayers[guestTeamId] %}
                                        <div class="team">
                                            {% for player in team %}
                                                <div class="player cf">
                                                    <ul class="clearfix">
                                                        <li class="no">
                                                            <span>{{ player.number }}</span>
                                                        </li>
                                                        <li class="name">
                                                            <a href="{{ path('homepage', {'playerSlug': player.slug}) }}">{{ player.name }}</a>
                                                        </li>
                                                        <li class="action">
                                                            <span class="clearfix">
                                                                <em class="substituted-in">{{ player.substituted }}</em>

                                                                {% for event, minutes in player.events %}
                                                                    {% for minute in minutes %}
                                                                        {% if event == 5 %}
                                                                            <em class="substituted-out">{{ minute }}</em>
                                                                        {% elseif event == 1 %}
                                                                            {% if minute is iterable %}
                                                                                <em class="goal-own">{{ minute.own }}</em>
                                                                            {% else %}
                                                                                <em class="goal">{{ minute }}</em>
                                                                            {% endif %}
                                                                        {% elseif event == 2 %}
                                                                            <em class="card-yellow">{{ minute }}</em>
                                                                        {% elseif event == 3 %}
                                                                            <em class="card-red">{{ minute }}</em>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </span>
                                                        </li>
                                                    </ul>


                                                </div>
                                            {% endfor %}
                                        </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% if page.statistic.statistic is defined %}

            {%  set statristicNames = {
            'corner': 'Corners' ,
            'totalShots': 'Total Shots' ,
            'shotsOnTarget': 'Shots On Target' ,
            'fouls': 'Fouls' ,
            'offsides': 'Offsides' ,
            'totalPasses': 'Total Passes' ,
            'longBalls': 'Long Balls' ,
            'shortPasses': 'Short Passes' ,
            'crosses': 'Crosses' ,
            'throughBalls': 'Through Balls' ,
            } %}

        <div class="charts">
            <div class="row">
                <h3 class="text-center">Game Stats Chart</h3>

                <div class="col-sm-6">
                    <div class="chart-total">

                        {% set statistics = page.statistic.statistic %}
                        {% set homeStatistics = statistics.home  %}
                        {% set guestStatistics = statistics.guest  %}
                            <ul class="chart-title">
                                <li>{{ page.getTeamHome }}</li>
                                <li>{{ page.getTeamGuest }}</li>
                            </ul>
                        {% for title, statistic in  homeStatistics %}
                            <ul class="chart-data">

                                {% if statistics.home[title] is not null and statistics.guest[title] is not null  %}
                                    <li>{{ statistics.home[title] }}</li>
                                    <li>{{ statristicNames[title] }}</li>
                                    <li>{{ statistics.guest[title] }}</li>
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-6">
                    {#<div id="highchart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>#}
                    <div id="highchart"></div>
                </div>

            </div>
        </div>
        {% endif %}

        </div>

        <div class="col-sm-12 col-md-3">
            <div class="game-list row">

                {% for rightPost in rightPosts %}
                <div class="col-sm-6 col-md-12">
                    <div class="game">

                        <div class="image ">
                            <a href="{{ path('post_detail', {'slug':rightPost.slug}) }}">
                                <img src="{{ rightPost.getRightPhotoDownloadLink }}" alt="{{ rightPost.getShowTitle }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="info-block">
                            <div class="info">
                                <ul>
                                    <li>
                                        <i class="glyphicon glyphicon-time"></i>
                                        {{ rightPost.videoDuration }}
                                    </li>
                                    <li>
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                        {{ rightPost.views }}
                                    </li>
                                    <li>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        {{ rightPost.postDate|date('d.m.Y') }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <h3>
                            <a href="{{ path('post_detail', {'slug':rightPost.slug}) }}">
                                {{ rightPost.getShowTitle }}
                            </a>
                        </h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('bundles/app/js/chart.js') }}" type="text/javascript"></script>
{% endblock %}