<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{%- block title -%}Latest Football Videos, Results & More | Heilrj.com{%- endblock -%}</title>


        {% block stylesheets %}

            {% stylesheets output='css/main.css'
                'bundles/app/css/reset.css'
                'bundles/app/css/styles.less'
                filter='less,cssrewrite,?yui_css' %}
                <link rel="stylesheet" type="text/css"  href="{{ asset_url }}" />
            {% endstylesheets %}

            <link href='{{ asset('/angular/bower_components/bootstrap/dist/css/bootstrap.min.css') }}' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
            <link href='{{ asset('bundles/app/css/custom-theme/jquery-ui-1.10.4.custom.css') }}' rel='stylesheet' type='text/css'>
        {% endblock %}

        <meta name="description" content="{% block metaDescription %}Get all the latest football videos, scores and results around the world with Heilrj.com{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">

        <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.requestUri }}"/>

        <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.requestUri }}"/>
        <meta property="og:description" content="{% block ogDescription %}Get all the latest football videos, scores and results around the world with Heilrj.com{% endblock %}">
        <meta property="og:type" content="{% block ogType %}Football Videos{% endblock %}"/>
        <meta property="og:title" content="{% block ogTitle %}HeilRJ{% endblock %}"/>
        <meta property="og:image" content="{% block ogImage %}{% endblock %}"/>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@HeilRJ">
        <meta name="twitter:title" content="{% block twitterTitle %}HeilRJ{% endblock %}">
        <meta name="twitter:description" content="{% block twitterDescription %}Get all the latest football videos, scores and results around the world with Heilrj.com{% endblock %}">
        <meta name="twitter:creator" content="@HeilRJ">
        <meta name="twitter:image" content="{% block twitterImage %}{% endblock %}">
        <meta name="twitter:domain" content="{{ app.request.getSchemeAndHttpHost() }}">

        <meta name="google-site-verification" content="eJXud60iXs9wI7hJOLs0-ksIpqNoJtdw7k0Rh7KvNLM" />
        <meta name="google-site-verification" content="lymA2w8ulGT0D7PI7YzlchE7wZdyFO4gjHnzSQHuJJA" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon"/>
    </head>
    <body data-ng-app="menu.accordion" data-ng-controller="menuAccordionCtrl" >

        {% block body %}{% endblock %}


        {% block javascripts %}

            <script src="{{ asset('bundles/app/js/jquery-2.1.0.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/js/jquery-ui-1.10.4.custom.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/js/masonry.pkgd.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/js/lodash.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="http://platform.twitter.com/widgets.js"></script>
            <script src="http://apis.google.com/js/plusone.js"></script>
           
            {% if app.debug %}
                <script type="text/javascript">var hostName="/app_dev.php";</script>
            {% else %}
                <script type="text/javascript">var hostName="";</script>
            {% endif %}

            <script src="{{ asset('angular/bower_components/angular/angular.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('angular/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
            <script src="{{ asset('angular/app/scripts/Google/google.js') }}" type="text/javascript"></script>
            <script src="{{ asset('angular/app/scripts/Facebook/facebook.js') }}" type="text/javascript"></script>
            <script src="{{ asset('angular/app/scripts/Twitter/twitter.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/js/menu.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/app/js/scripts.js') }}" type="text/javascript"></script>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-21400365-2', 'auto');
                ga('send', 'pageview');

            </script>

        {% endblock %}
    </body>
</html>