{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block html_attributes %}
    {{ parent() }}
    class="no-js"
    ng-app="FG"
    ng-controller="maincontroller"
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/angular/bower_components/angular/angular.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/angular/bower_components/angular-route/angular-route.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/angular/bower_components/angular-resource/angular-resource.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/angular/bower_components/angular-animate/angular-animate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/angular/bower_components/angular-sanitize/angular-sanitize.js') }}" type="text/javascript"></script>
    
    {% if app.debug %}
        <script src="{{ asset('angular/scripts/prefix/app_dev.js') }}"></script>
    {% else %}
        <script src="{{ asset('angular/scripts/prefix/app.js') }}"></script>
    {% endif %}
    
    <script src="{{ asset('/bundles/app/js/app.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/app/js/controller/MainController.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/app/js/factory/factory.js') }}" type="text/javascript"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}