{# empty Twig template #}

{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block form %}
    {{parent()}}

    {% if object.adPhotoName %}
        <img width="200" src="{{ (object.getAdPhotoDownloadLink) }}">
    {% endif %}

{% endblock %}