{# empty Twig template #}

{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block form %}

    {{parent()}}
    {{ tinymce_init({selector: "textarea" }) }}
    
    <script>
        $('textarea').attr('class', 'tinymce');
    </script>
{% endblock %}