{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        <p >
            {{ object.videoPlayWire|length > 12 ? object.videoPlayWire|slice(0, 12) ~ '...' : object.videoPlayWire  }}
        </p>
    </div>
{% endblock %}