{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% set number = null %}

    {% set playerTeams = object.playerTeams %}
    {% for playerTeam in playerTeams %}
        {% if playerTeam.status == constant("AppBundle\\Entity\\PlayerTeam::PLAYER_TEAM_CURRENT") %}
            {% set number = playerTeam.number  %}
        {% endif %}
    {% endfor %}

    <div>
        <p>
            {% if number %}
                {{ number }}
            {% endif %}
        </p>
    </div>
{% endblock %}