{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% set team = null %}

    {% set playerTeams = object.playerTeams %}
    {% for playerTeam in playerTeams %}
        {% if playerTeam.status == constant("AppBundle\\Entity\\PlayerTeam::PLAYER_TEAM_CURRENT") %}
            {% set team = playerTeam.team  %}
        {% endif %}
    {% endfor %}

    <div>
        <p>
            {% if team and team.name is defined %}
                {{ team.name }}
            {% endif %}
        </p>
    </div>
{% endblock %}