{% block players_widget %}

    {% if attr.teamType is not defined %}
        {% set attr = attr|merge({'teamType': 0}) %}
    {% endif %}

    {% if attr.teamID is not defined %}
        {% set attr = attr|merge({'teamID': 0}) %}
    {% endif %}

    <style>
        .players {
        }

        .players table {
            width: 50%;
            border-collapse: collapse;
        }

        .players table th {
            text-align: center;
            padding: 5px 0;
            background-color: #e4e4e4;
            border: solid 1px #ccc;
        }
        .players table th:first-child input{
            width: 10px;
        }

        .players table td {
            padding: 3px 5px;
            border: solid 1px #ccc;
        }

        .players table td.tdCheckName {
            text-align: center;
        }

        .players table td.tdNo {
            text-align: right;
        }

        .players table td .checkName {
            width: 100px;
        }
        .lineUp{
            position: inherit !important;
             opacity: 1 !important;
        }
        .iCheck-helper{
            position: relative !important;
        }

        .number-search{
            width: 100px !important;
        }
    </style>

    <div class="players" style="margin: 10px 0" ng-show="teamHomePlayers.length || teamGuestPlayers.length" ng-init="initialize({{ value }},{{ attr.teamType }},{{ attr.teamID }});">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Player Name</th>
                    <th>Line ups</th>
                    <th>Goal</th>
                    <th>Yellow card</th>
                    <th>Red card</th>
                    <th>Substitute</th>
                </tr>
                <tr>
                    {#<th></th>#}
                    {% if attr.teamType == 0 %}
                        <th><input class="number-search" ng-model="homeSearch.number" /></th>
                        <th><input ng-model="homeSearch.player.full_name" /></th>
                    {% endif %}
                    {% if attr.teamType == 1 %}
                        <th><input class="number-search" ng-model="guestSearch.number" /></th>
                        <th><input ng-model="guestSearch.player.full_name" /></th>
                    {% endif %}
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if attr.teamType == 0 %}
                <tr ng-repeat="teamElement in teamHomePlayers |filter:homeSearch " ng-init="teamId = teamHome">
                    {% endif %}
                    {% if attr.teamType == 1 %}
                <tr ng-repeat="teamElement in teamGuestPlayers |filter:guestSearch" ng-init="teamId = teamGuest">
                    {% endif %}
                    {% verbatim %}
                        <td class="tdNo">{{ teamElement.number}}</td>
                        <td data-ng-init="teamElement.player.full_name = teamElement.player.first_name+teamElement.player.last_name">{{ teamElement.player.full_name }}</td>
                        <td style="text-align: center">
                            <input class="lineUp" type="checkbox" name="events[{{ teamId }}][{{ teamElement.player.id }}][lineUps]" value="1" ng-model="teamElement.lineup">
                        </td>

                        <td class="tdCheckName">
                            <input type="text" name="events[{{ teamId }}][{{ teamElement.player.id }}][goal]" value="" ng-model="teamElement.goal" class="checkName" min="0" max="200">
                        </td>
                        <td class="tdCheckName">
                            <input type="text" name="events[{{ teamId }}][{{ teamElement.player.id }}][yCard]" value="" ng-model="teamElement.yellow" class="checkName" min="0" max="200">
                        </td>
                        <td class="tdCheckName">
                            <input type="text" name="events[{{ teamId }}][{{ teamElement.player.id }}][rCard]" value="" ng-model="teamElement.red" class="checkName" min="0" max="200">
                        </td>
                        <td class="tdCheckName">
                            <input type="text" name="events[{{ teamId }}][{{ teamElement.player.id }}][substitude]" value="" ng-model="teamElement.subs" class="checkName" min="0" max="200">
                        </td>
                    {% endverbatim %}
                </tr>
            </tbody>


        </table>
    </div>



{% endblock %}
