{% block statistic_widget %}

    {% set oneWidget = form['home'] %}

    <style>
        .statistic-title {
            width: 150px ;
            text-align: center;
        }

        .field-td{
            margin-bottom: 10px;
            height: 40px;

        }

    </style>

    <table>
        <thead>
            <tr>
                <th style="text-align: center">Home Team</th>
                <th class="statistic-title"> </th>
                <th style="text-align: center">Guest Team</th>
            </tr>
        </thead>

        <tbody>
        {% for key, widget in oneWidget %}
            <tr>
                <td class="field-td">{{ form_widget(form['home'][key]) }}</td>
                <td class="statistic-title">{{ widget.vars.label }}</td>
                <td class="field-td">{{ form_widget(form['guest'][key]) }}</td>
            </tr>
        {% endfor %}

        </tbody>


    </table>

{% endblock %}
