<div class="item ad col-sm-12 col-md-3" style="height: <%= height %>px;">
    <div class="ad-google">
        <script type="text/javascript">!function (e, t, a, n, c, s) {
            e.bcAnalyticsObject = c, e[c] = e[c] || function () {
                        (e[c].q = e[c].q || []).push(arguments), e[c].u = e[c].u || n
                    };
            var i = t.createElement(a), o = t.getElementsByTagName(a)[0];
            i.async = !0, i.src = n + "analytics/ba.min.js", i.id = s, !t.getElementById(s) && o.parentNode.insertBefore(i, o)
        }(window, document, "script", "https://affiliates.vbet.com/global/", "ba", "bafTrSc"), ba("_setAccount", 16445), ba("_mId", 180052);</script>
        <div data-ti="16445_180052"></div>
    </div>
</div>

<!--<div class="item ad col-sm-12 col-md-3" style="height: <%= height %>px;">-->
<!--<a href="<%= url %>" target="_blank">-->
<!--<img src="<%= image %>" width="<%= width %>" height="<%= height %>" class="img-responsive" alt="<%= title %>">-->
<!--</a>-->
<!--</div>-->