<div class="item col-sm-12 col-md-3">
    <div class="image watch-img" data-id="<%= id %>" style="height: <%= image.height %>px;">
        <img src="<%= image.src %>" width="<%= image.width %>" height="<%= image.height %>" class="img-responsive" alt="<%= showTitle %>">
        <span class="time"><%= time %></span>

        <div class="watch-box">
            <a href="#" class="sb watch-button" data-id="<%= id %>">Watch</a>
        </div>
    </div>
    <div class="content">
        <h2><%= showTitle %> </h2>
        <strong class="date"><%= date %></strong>
        <span class="league-name"><%= league %></span>
        <div class="views-percent"><span class="percent" style="width: <%= viewsProgress %>%"></span></div>
        <div class="cf">
            <span class="views-count"><%= views %></span>
            <a class="item-more-button" href="<%= hostName %>/post/<%= slug %>/">Details</a>
        </div>
    </div>
</div>