<div id="watch-popup-container" class="watch-popup-container">
	<div class="watch-popup">
		<a id="watch-popup-close" class="close" href="#close"></a>
		<a id="watch-popup-prev" class="prev" href="#prev"></a>
		<a id="watch-popup-next" class="next" href="#next"></a>
		<div class="video-holder">
			<iframe id="youtubeVideo" width="100%" height="100%" src="<%= videoUrl %>" frameborder="0" allowfullscreen></iframe>
			<%= playWireUrl %>
		</div>
		<div class="info-block">
			<h3><a href="post/<%= slug %>/" class="show-title"><%= showTitle %></a></h3>
			<div class="info">
                <ul>
                    <li>
                        <i class="glyphicon glyphicon-time"></i>
                        <%= time %>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <%= views %>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-calendar"></i>
                        <%= date %>
                    </li>
                    <li>
                        <a class="permalink" href="/post/<%= slug %>/">go to the video page</a>
                    </li>
                </ul>
			</div>

            <!--<ul class="social-icons clearfix">-->
                <!--<li>-->
                    <!--<a href="#" class="facebook"></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#" class="google"></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#" class="twitter"></a>-->
                <!--</li>-->
            <!--</ul>-->
		</div>
	</div>
</div>
