.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@shadow :1px 1px 5px #d1d2d4) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -ms-box-shadow: @shadow;
  -o-box-shadow: @shadow;
  box-shadow: @shadow;
}

.border-radius(@radius: 5px 5px  0 0)
{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -khtml-border-radius-topleft: 5px;
  -khtml-border-radius-topright: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -icab-border-top-left-radius: 5px;
  -icab-border-top-right-radius: 5px;
  -goog-ms-border-top-left-radius:5px;
  -goog-ms-border-top-right-radius:5px;
  border-radius: @radius;
}