@import "functions.less";
@import "variables.less";

body {
	background-color: #e3e5df !important;
	font-family: "Lato", sans-serif !important;
    font-weight: 400;
}
*a{
	color: #000000;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    outline:0;
}

strong{
  font-weight:500 !important;
}
.cf:before,
.cf:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.cf:after {
	clear: both;
}
.clear {
	clear: both;
}
.hide {
	display: none;
}
.position-fixed {
	position: fixed !important;
}
.overflow-hidden {
	overflow: hidden;
}

.ui-datepicker {
  td {
    width: 30px;
    padding: 0;
  }
  table {
    z-index: 100;
    position: relative;
  }
}


.overlayLayer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

body {
    min-height: 1000px;
}
#outerHeader {
    position: relative;
    height: 62px;
    z-index: 2;
}

#header {
  #navbar{
    position:relative;
  }
  .navbar-default{
    border-bottom: solid 1px #cccdc8;
    box-shadow: 0 1px 1px #dbddd7;
    background-color: #ffffff;
  }
  .navbar-header{
    z-index: 10;
    position: relative;
    figure{
      margin:0;
    }
    .logo {
      display:block;
      height: 50px;
      background: url(../images/logo-mobile.png) no-repeat center center;
    }
  }
  .inner {
    position: relative;
    padding-top: 39px;
  }


  .top-menu {
    font-size: 0;
    line-height: 24px;
    outline:none;
    a {
      padding: 0 0 0 20px;
      font-size: 13px;
      color: #7a7a7a;
      &:hover {
        color: #3d8f25;
      }
      &:focus {
        outline:none;
      }
    }

    a:after {
      padding-left: 5px;
      color: #aaa;
    }

    &:last-child:after {
      display: none;
    }
  }
  .navbar-toggle{
    border:0;
    .icon-bar{
      height:3px;
    }
    &:hover,&:focus{
      background-color: #ffffff;

    }
  }

  .nav {
    & > ul {
      & > li {
        margin-right: 25px;
        & > a {
          position: relative;
          display: block;
          padding-right: 18px;
          color: #000;
          font-size: 14px;
          text-decoration: none;
          line-height: 41px;
          outline:none;
        }
        & > a:after {
          content: "";
          position: absolute;
          top: 19px;
          right: 0;
          width: 11px;
          height: 7px;
          background: url(../images/header-nav-right-arrow.png) no-repeat left center;
          -webkit-transition: all 400ms;
          -moz-transition: all 400ms;
          -ms-transition: all 400ms;
          -o-transition: all 400ms;
          transition: all 400ms;
        }
        & > a.selected:after {
          display: none;
        }
        & > a:hover {
          color: #3d8f25;
        }
        & > a.opened {
          color: #3d8f25;
        }
        & > a.opened:after {
          -webkit-transform: rotateX(180deg);
          -moz-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
          transform: rotateX(180deg);
        }
        & > a.selected {
          color: #3d8f25;
          background: url(../images/header_nav_clear.png) no-repeat right center;
        }
        & > a.name-selected{
          padding-right: 0;
        }
        & > a.name-selected:after {
          display: none;
        }
      }
      & > li:last-child {
        margin-right: 0;
      }
    }
  }
  .dd-menu {
    .cf{
      margin-bottom:0;
    }
    .dropdown {
      position: absolute;
      top: 53px;
      z-index: 1;
      padding: 15px;
      border: solid 1px #d1d2d1;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 1px #d1d2d1;
      .arrow {
        position: absolute;
        top: -9px;
        width: 17px;
        height: 9px;
        background: url(../images/dd-menu-arrow.png) no-repeat center;
      }
      a {
        color:#000000;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 300;
      }
      a:hover {
        color: #3d8f25;
      }
      a.selected {
        background-color: #3d8f25;
        color: #fff;
        border-radius: 2px;
      }
    }
    .dropdown.right {
      right: 0;
    }
    .dropdown.left {
      left: 0;
    }
  }
  .dropdown {
    .search-input {
      margin-bottom: 10px;
      input {
        width: 100%;
        border: solid 1px #3d8f25;
        padding: 10px;
        border-radius: 5px;
        outline: none;
      }
    }
    h3 {
      font-size:16px;
      margin:0 0 10px;
    }
  }

  .calendar-year {
    font-size: 13px;
    .top {
      margin-bottom: 15px;
    }
    a {
      display: inline-block;
      padding: 4px 5px;
      margin-bottom: 2px;
      color: #000;
      text-decoration: none;
    }
  }
  .ui-datepicker td{
    padding:0;
  }
  .last-dates {
    margin-bottom: 10px;
    margin-top: 7px;
    font-size: 13px;

    a {
      display: inline-block;
      padding: 4px 5px;
      margin-bottom: 2px;
      color: #000;
      text-decoration: none;
    }
  }
  .league-dropdown {
    a {
      display: block;
      padding: 4px 5px;
      margin-bottom: 2px;
      color: #000;
      font-size: 14px;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  .team-dropdown {
    .team-group {
      .split-list{
        width: 100%;
      }
      ul {
        float: left;
        width: 25%;
        li {
          //float: left;
          width: 25%;
          margin-bottom: 2px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  .player-dropdown {
    .split-list{
      width: 100%;
    }
    ul {
      float: left;
      width: 25%;
      li {
        //float:left;
        width: 25%;
        margin-bottom: 2px;
      }
    }
  }
  .filter-dropdown {
    min-width: 110px;
    a {
      display: block;
      padding: 4px 5px;
      margin-bottom: 2px;
      color: #000;
      font-size: 14px;
      text-decoration: none;
      white-space: nowrap;
    }
  }
  .menu {
    float: right;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    padding-top: 9px;
    & > a {
      display: block;
      width: 26px;
      height: 26px;
      background: url(../images/header-menu.png) no-repeat center;
    }
    .menu-dropdown {
      width: 140px;
    }
    ul {
      li {
        margin-bottom: 7px;
      }
      a {
        font-size: 16px;
      }
    }
  }
}
#header.collapsed {
  height: 68px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  background-color: rgba(255, 255, 255, 0.95);
  .inner {
    padding-top: 27px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .logo {
    top: 16px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .top-menu {
    display: none;
  }
}


/* watch popup */
.watch-popup-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 3;
}
.watch-popup {
  position: absolute;
  left: 50%;
  top: 65px;
  width: 80%;
  margin-left: -128px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 20px rgba(0,0,0,.8);
  .close {
    position: absolute;
    top: 0;
    right: -30px;
    width: 20px;
    height: 20px;
    background: url(../images/watch-popup-close-button.png) no-repeat center;
    opacity:1;
  }
  .close:hover {
    opacity: 0.6;
  }
  .next {
    position: absolute;
    top: 187px;
    right: -30px;
    width: 18px;
    height: 30px;
    background: url(../images/watch-popup-next-prev-arrows.png) no-repeat -18px 0;
  }
  .next:hover {
    opacity: 0.6;
  }
  .prev {
    position: absolute;
    top: 187px;
    left: -30px;
    width: 18px;
    height: 30px;
    background: url(../images/watch-popup-next-prev-arrows.png) no-repeat 0 0;
  }
  .prev:hover {
    opacity: 0.6;
  }
  .video-holder {
    height: 405px;
  }
  .info-block {
    padding: 12px;
    h3 {
      margin-bottom: 5px;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-top:0;
    }
    .info {
      height: 19px;
      margin-bottom: 10px;
      line-height: 19px;
      color: #a4a4a4;
      font-size: 14px;
      a {
        text-decoration: underline;
        color: rgba(87, 122, 19, 1);
      }
      a:hover {
        color: #000;
      }
    }
  }
}
.watch-popup .info-block .info a,.watch-popup .info-block .info span {
  position: relative;
  margin-right: 5px;
}
.watch-img {
  cursor: pointer;
}


/* content */
#content {
  position: relative;
  .left-sidebar {
    position: absolute;
    top: 70px;
    left: -120px;
    width: 120px;
    .tags {
      margin-bottom: 20px;
      h3 {
        margin-bottom: 10px;
      }
      ul {
        li {
          margin-bottom: 5px;
          a {
            color: #24808e;
            font-size: 13px;
          }
        }
      }
    }
  }
  .items-list {
    position: relative;
    //padding-left:25px;

    @media (min-width: 267px) {
      width: 267px;
      margin: 0 auto;
    }
    @media (min-width: @screen-sm) {
      width: 554px;
      margin: 0 auto;
    }
    @media (min-width: @screen-md) {
      width: 97%;
      margin: 0 auto;
    }

    .search-error{
      display: none;
      padding-top: 23%;
      font-size: 3rem;
      color: #577A13;
    }

    .item-sizer {
      width: 267px;
    }
    .item {
      width: 267px;
      margin-bottom: 20px;
      background-color: #f9faf6;
      box-shadow: 0 0 2px 2px #cbccc7;
      border-radius: 5px;
      padding:0;
      .watch-box {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.1);

        @media (max-width: @screen-sm) {
          display: none !important;
        }

        a {
          position: absolute;
          top: 15px;
          left: 15px;
          padding: 10px 18px;
          background-color: #fff;
          border-radius: 5px;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          font-size: 16px;
          color:#000000;
          &:hover{
            text-decoration: none;
          }
        }
      }
      .image {
        position: relative;
        .time {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 0 8px;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.5);
        }
        img {
          display: block;
          border-radius: 5px 5px 0 0;
        }
      }
      .content {
        padding: 10px 6px 6px;
        h2 {
          margin-top:0;
          margin-bottom: 5px;
          font-family: "Lato", sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
        .date {
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
        }
        .league-name {
          display: block;
          font-family: "Lato", sans-serif;
          font-size: 11px;
          color: #6d6a6a;
        }
        .views-percent {
          position: relative;
          height: 7px;
          margin: 7px 0;
          background-color: #d1d3cc;
          border-radius: 2px;
          .percent {
            position: absolute;
            height: 7px;
            background-color: #3d8f25;
            border-radius: 2px;
          }
        }
        .views-count {
          float: left;
          padding-left: 20px;
          font-size: 12px;
          line-height: 22px;
          background: url(../images/item-views-icon.png) no-repeat 0 center;
        }
        .item-more-button {
          float: right;
          padding: 0 10px;
          line-height: 22px;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          color: #fff;
          font-size: 14px;
          text-decoration: none;
          background-color: #3d8f25;
          border-radius: 4px;
        }
        .item-more-button:hover {
          color: #fff;
          background-color: #2e641e;
        }
      }
    }
    .item:hover {
      box-shadow: 0 0 3px #000;
      .watch-box {
        display: block;
      }
    }
    .ad{
      img{
        .rounded-corners;
      }
    }
  }
  .page {
    .game-content {
      .video,.video-holder {
        height: 270px;

        li{
          display: inline-block;
          margin-right:10px
        }
      }
      .info-block {
        padding: 15px;
        background-color: #fff;
        margin-bottom: 5px;
        h1 {
          margin-bottom: 5px;
          font-family: "Lato", sans-serif;
          font-size: 26px;
          font-weight: 600;
          margin-top:0;
        }
        .info {
          height: 19px;
          margin-bottom: 10px;
          line-height: 19px;
          color: #a4a4a4;
          font-size: 14px;
          span {
            position: relative;
            margin-right: 5px;
          }
          li{
            display: inline-block;
            margin-right:10px
          }
        }
      }
      .game-data {
        padding: 15px;
        background-color: #f4f5f3;
        margin-bottom:5px;
        h2 {
          margin-bottom: 10px;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          font-weight: 600;
        }
        .teams {
          .player {
            clear:both;
            height: 23px;
            background-color: #fff;
            li{
              float:left;
              display: inline-block;
              vertical-align: middle;
              font-size:11px;
            }
            span {
              height: 23px;
              line-height: 23px;
              font-size: 11px;

            }
            .no {
              width: 30px;
              padding: 0 8px;
              text-align: right;
            }
            .name {
              width: 100px;
              a{
                color:#000000;
                font-size:11px;
                line-height: 23px;
                &:hover{
                  text-decoration: none;
                  color: #3d8f25;
                }
              }
            }
            .action {
              padding-left: 2px;
              em {
                float: left;
                position: relative;
                margin-right: 8px;
                padding-left: 14px;
                font-size: 11px;
              }
              em:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
              }
              .card-red:before {
                width: 11px;
                background: url(../images/game-action-icons.png) no-repeat -23px center;
              }
              .card-yellow:before {
                width: 11px;
                background: url(../images/game-action-icons.png) no-repeat -12px center;
              }
              .goal:before {
                width: 12px;
                background: url(../images/game-action-icons.png) no-repeat 0 center;
              }
              .goal-own:before{
                width: 12px;
                background: url(../images/own-goal.png) no-repeat 0 center;
              }
              .substituted-out:before {
                width: 13px;
                background: url(../images/substitute-out.png) no-repeat 0 center;
              }
              .substituted-in:before {
                width: 13px;
                background: url(../images/substitute-in.png) no-repeat 0 center;
              }
            }
            .action-padding{
              padding-left:30px;
            }
          }
          .player:nth-child(2n) {
            background-color: #ededed;
          }
        }
      }
    }

    .google-ad-scene {
      margin: 0 0 10px;
      background-color: #ffffff;
    }

    .game-list {
      .game {
        padding:15px 10px 0;
        background-color: #f4f5f3;
        h3 {
          margin: 10px 0 0;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-size: 15px;
          padding-bottom:10px;
          border-bottom:1px solid #e3e5df;
          a{
            color:#7a7a7a;
            &:hover{
              text-decoration:none;
              color: #3d8f25;
            }
          }
        }
        .image {
          float: left;
          width: 150px;
          height: 100px;
          overflow: hidden;
          border-radius: 5px;
          img {
            width: 150px !important;
          }
        }
        .info-block {
          float: left;
          margin-left:10px;
          width: 100px;
          .info {
            margin-bottom: 10px;
            line-height: 19px;
            color: #a4a4a4;
            font-size: 14px;
            span {
              display: block;
              position: relative;
              margin-right: 5px;
            }
          }
        }
      }
      .game:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}

.ui-autocomplete {
  height: 230px;
  border-color: #3d8f25;
  border-top-width: 0;
  overflow: auto;
  .ui-state-focus {
    background: rgba(61, 143, 37, 1) none;
    color: #fff;
  }
}

.glyphicon{
  font-size:12px;
  margin-right:2px;
}
.social{
  position: absolute;
  right: -23px;
  top: 125px;
}
.social-icons{
  margin-bottom: 0;
  li{
    margin:0 10px 5px 0;
    a{
      display:block;
      width: 32px;
      height:32px;
    }
    .youtube{
      background: url(../images/social_icons.png) no-repeat -168px -20px;
      &:hover{
        background: url(../images/social_icons.png) no-repeat -168px -69px;
      }
    }

    .google{
      background: url(../images/social_icons.png) no-repeat -69px -20px;
      &:hover{
        background: url(../images/social_icons.png) no-repeat -69px -69px;
      }
    }

    .twitter{
      background: url(../images/social_icons.png) no-repeat -119px -20px;
      &:hover{
        background: url(../images/social_icons.png) no-repeat -119px -69px;
      }
    }

    .facebook{
      background: url(../images/social_icons.png) no-repeat -21px -20px;
      &:hover{
        background: url(../images/social_icons.png) no-repeat -21px -69px;
      }
    }
  }
}

.info-block{
  .social-icons{
    li{
      display: block;
      float:left;
      margin:0 5px 0 0;
    }
  }
  .show-title {
    text-decoration: none;
    color: black;
    &:hover {
      color: #3d8f25;
    }
  }
}
#mobile-menu{
  a{
    color:#000000;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &:focus{
      outline:none;
    }
  }
  .panel-title{
    a{
      text-decoration: none;
      color: #000000;
      display:block;

      &:hover{
        text-decoration: none;
      }
      &:focus{
        outline: none;
      }
    }
  }
  .panel-default{
    .panel-heading{
      background-color: #ffffff !important;
    }

      .panel-collapse{
        background:#e3e5df !important;
      }
    .panel-body{
      background-color: #ffffff !important;
    }
  }


  .panel-body{
    a{
      display:block;
      padding:4px;
    }
  }
  .scroll{
    height:192px;
    overflow:auto;
    background-color: #ffffff;
    overflow-x: hidden;
  }

  .ng-date-picker {
    width: 252px;
    margin: 0 auto;
    table tr:first-child th:nth-child(2) button {
      margin-top: -23px;
    }
  }

  .mobile-calendar {
    .last-dates{
      margin-bottom: 10px;
      margin-top: 7px;
      font-size: 13px;

      a {
        display: inline-block;
        padding: 4px 5px;
        margin-bottom: 2px;
        color: #000;
        text-decoration: none;
      }
    }
    .calendar-year{
      font-size: 13px;
      .top {
        margin-bottom: 15px;
      }
      a {
        display: inline-block;
        padding: 4px 5px;
        margin-bottom: 2px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}
.charts{
  background-color: #ffffff;
  margin-bottom:10px;
  overflow:hidden;
}

#mobile-menu{
  .search-input {
    margin-bottom: 10px;
    input {
      width: 100%;
      border: solid 1px #3d8f25;
      padding: 10px;
      border-radius: 5px;
      outline: none;
    }
  }

  a.reset-button {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #DDD;
    border-radius: 2px;
  }
}

.chart-total{
  padding:30px 0 10px 0;
  .chart-title{
    background-color: #84AD34 !important;
    margin-bottom:0;
    li{
      padding: 4px 15px;
      display: inline-block;
      font-size:16px;
      font-weight: bold;
      color: #fff;
      &:last-child{
        float:right;
      }
    }
  }
  .chart-data{
    margin-bottom:0;
    li{
      display: inline-block;
      cursor:pointer;
      padding: 4px 15px;

    }
    li:first-child{
      width:15%;
    }
    li:nth-child(2){
      width:65%;
      text-align:center;
    }
    li:last-child{
      width:15%;
    }
    &:hover,&:focus{
      background-color: #78C262;
      color:#ffffff;
    }

  }
  .active-stat{
    background-color: #78C262  !important;
    color:#ffffff;
  }

  ul:nth-child(odd){
    background:#ededed;
  }
  ul:nth-child(even){
    background:#ffffff;
  }
}
@media (min-width: @screen-sm-min) {
  #header {
    .inner{
      width: 1128px;
      margin: 0 auto;
    }
    .navbar-default{
      border:0;
      padding-top: 39px;
      background-color: #ffffff;
    }
    &.collapsed {
      .navbar-default {
        padding-top: 11px;
        background-color: rgba(255, 255, 255, 0.95);
      }
    }
    .header-top {
      position: absolute;
      top: -35px;
      right:15px;
    }
    .navbar-header{
      z-index: 10;
      position: relative;
      figure{
        position: absolute;
        margin:-15px 0 0 -2px;
      }
      .logo {
        display:block;
        left: 0;
        top: 28px;
        width: 142px;
        height: 70px;
        background: url(../images/heilrj_logo.png) no-repeat left center;
      }
    }
    .top-menu {
      float:left;
      a{
        font-size:12px;
        padding:0 0 0 5px;
      }
      a:after {
        content: "|";
      }
      li:last-child{
        a:after{
          display: none;
        }
      }
    }
    .nav{
      position: relative;
      height: 41px;
      margin: 0 0 0 270px;
      & > ul {
        float: left;

        & > li {
          float: left;

          & > a:after {
            content: "";
            position: absolute;
            top: 19px;
            right: 0;
            width: 11px;
            height: 7px;
            background: url(../images/header-nav-down-arrow.png) no-repeat right center;
            -webkit-transition: all 400ms;
            -moz-transition: all 400ms;
            -ms-transition: all 400ms;
            -o-transition: all 400ms;
            transition: all 400ms;
          }

          & > a.opened:after {
            -webkit-transform: rotateX(180deg);
            -moz-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            -o-transform: rotateX(180deg);
            transform: rotateX(180deg);
          }
        }
      }
    }

  }

  .watch-popup {
    top: 114px;
    width: 90%;
    margin-left: -346px;
    .video-holder {
      height: 405px;
    }
    li{
      display: inline-block;
      margin-right:10px
    }
  }

  #content{
    padding:45px 0;

    .page{
      .game-content {

        .video {
          height: 460px;
        }
        .game-data{
          .teams {
            margin-bottom: 10px;
            .player{
              li{
                font-size:13px;
                span{
                  font-size:13px;
                }
              }
              .name{
                width:160px;
                a{
                  font-size:13px;
                  line-height:23px;
                }
              }
              .action{
                padding-left:0;
                em{
                  font-size:12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .chart-total{
    padding:30px 0 30px 20px;
  }
}

.highcharts-container {
  margin-left: 40px;
  margin-top: 16px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #header{
    .nav{
      margin: 0 0 0 290px;
      & > ul {
        float: left;

        & > li {
          float: left;
        }
      }
      .calendar-dropdown {
        width: 525px;
        padding-left: 0;
        .last-dates{
          margin-left:30px;
        }
        .calendar-year{
          margin-left:30px;
        }
      }

    }
    .dd-menu{
      .dropdown{
        a{
          font-size:14px;
        }
      }
    }
    .player-dropdown,.team-dropdown{
      width: 650px;
    }
    .filter-dropdown {
      min-width: 150px;
    }
  }

  .watch-popup {
    top: 114px;
    width: 720px;
    margin-left: -346px;
    .video-holder {
      height: 405px;
    }
  }

  #content{
    padding:45px 0;
    .social{
      right: -58px;
    }
    .page{
      .game-content {
        .teams {
          margin-bottom: 50px;
        }
      }
      .google-ad-scene {
//        width: 274px;
//        margin: 0 0 20px -11px;
        padding:13px 0;
      }
    }
    .game-list{
      margin-left:-25px;
      .info-block{
        margin-right:-8px;
      }
    }

  }
}

.ad-google div{
  text-align: center;
}

#details-container{
  position: relative;
  z-index: 1;
}
#main-container{
  position: relative;
}

.league-two{

  a{
    min-width: 170px;
  }
  a:nth-of-type(even){
    float: right;

  }
  a:nth-of-type(odd){
    float: left;
    clear: both;
  }
}
.league-two:after{
  content: '';
  display: block;
  clear: both;
}